* {
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: 'Playfair Display', serif;
  color: white;
  letter-spacing: .05em;
}

/* Header */

header {

  background-color: white;
  color: black;
  width: 100%;
  opacity: .89;
  padding: .5em 0 0.5em 1.5em;
  font-size: .8em;
  position: fixed;
  top: -.5em;
  /*top: 0px;*/
  z-index: 99;

}
header h1 {
  padding-left: 1em;
}
span {
  color: #a7a8aa;
  text-shadow: none;
}
#menu img {
  color: #a7a8aa;
  width: 2em;
  height: 2em;
  position: absolute;
  top: 2.5em;
  right: 3em;
}
#dropdown {
  background: white;
  opacity: 1;
  width: 8%;
  border-radius: 0 0 0 5%;
  position: absolute;
  top: 3.5em;
  right: 0em;

}
#dropdown img {
  width: 2em;
  height: 2em;

}
#dropdown li {
  list-style: none;
  padding-right: 2em;
  margin: 1em 0 1em 0;
}

/* Banner */

.banner {
  position: relative;
  overflow: auto;
  top: -1em;
  right: 10em;
}
.banner li {
  list-style: none;
}
.banner ul li {
  float: left;
}
.banner img {
  width: 90em;
  height: 35em;
  position: relative;

}
.banner h2 {
  position: absolute
  color: white;
  z-index: 99;

}
.dots {
  position: absolute;
  left: 2.75em;
  right: 0;
  bottom: 20px;
  text-align: center;
}

.dots li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  text-indent: -999em;
  border: 2px solid #fff;
  border-radius: 6px;
  cursor: pointer;
  opacity: .4;
  -webkit-transition: background .5s, opacity .5s;
  -moz-transition: background .5s, opacity .5s;
  transition: background .5s, opacity .5s;
}

.dots li.active {
  background: #fff;
  opacity: 1;
}

/* Main */

main {
  margin-top: 5em;
}

blockquote {
  text-align: center;
  margin-bottom: 5em;
  position: relative;
  left: -2.5em;
}

/* Division, Pennant and Series Sections */

#division,
#pennant,
#series {
  width: 90%;
  margin: 0em 3em 0 3em;
  clear: both;
  line-height: 1.5em;
}
#division h2,
#division p,
#series h2,
#series p {
  width: 45%;
}
#pennant h2,
#pennant p {
  float: right;
  width: 45%;
}
img.align-right {
  height: 30em;
  width: 30em;
  border-radius: 1%;
  float: right;
  margin-bottom: 2em;
  margin-right: 2.5em;
  position: relative;
  top: 1em;
}
img.align-left {
  height: 30em;
  width: 30em;
  border-radius: 1%;
  float: left;
  position: relative;
  top: 2em;
  clear: right;
}

/* Champions Section */

#champions {
  width: 90%;
  padding: 3em 3em 0 0em;
  background-image: url('http://imgc.allpostersimages.com/images/P-473-488-90/75/7598/PV7F300Z/posters/baseball-joe-dimaggio-quote.jpg');
  background-position: left;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 5%;
  left: 5em;
  bottom: 3em;
}
#champions p {
  text-align: left;
  text-shadow: 0px 3px 2px rgba(154, 147, 163, 1);
  position: relative;
  left: 2em;
  top: 15.5em;

}

#nl,
#al {
  display: inline;
  width: 25%;
  padding-top: 15em;
  float: right;
}
form {
  text-align: center;
}
.before {
  height: 35em;
  width: 38em;
  margin-top: 3em;
  margin-bottom: -4em;
  /*padding-top: 0em;
  padding-left: 0em;*/


}
.after {
  color: white;
  height: 35em;
  width: 38em;
  padding-top: .5em;
  margin-top: 3em;
  margin-bottom: -4em;

 /*padding-top: 0em;
  padding-left: 0em;*/
}




/* Footer */

footer {
  background-color: white;
  color: #a7a8aa;
  opacity: .95;
  width: 100%;
  padding: .75em 0 1em 0;
  margin-top: 0em;
  font-size: .8em;
}
footer span {
  color: black;
}
footer h4 {
  width: 50%;
  margin-left: 2em;
  clear: both;

}
footer li {
  display: inline;
  list-style: none;
  margin-right: 2em;
  float: right;
  position: relative;
  bottom: 2.5em;
}
a {
  text-decoration: none;
  color: #a7a8aa;
}
a:hover {
  color: black;
}


