* {
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: 'Playfair Display', serif;
  color: white;
  letter-spacing: .05em;
}

/* Header */

header {

  background-color: white;
  color: black;
  width: 100%;
  /*text-align: center;*/
  padding: .5em 0 0.5em 1.5em;
  font-size: .8em;
}
header h1 {
  padding-left: 1em;
}
span {
  color: #a7a8aa;
}

/* Main Sections */

#division,
#pennant,
#series {
  width: 90%;
  margin: 3em 3em 0 3em;
  clear: both;
  line-height: 1.5em;
}
#division h2,
#division p,
#series h2,
#series p {
  width: 45%;
}
#pennant h2,
#pennant p {
  float: right;
  width: 45%;
}
img.align-right {
  height: 25em;
  width: 30em;
  border-radius: 1%;
  float: right;
  margin-right: 2.5em;
  position: relative;
  top: 4.5em;
}
img.align-left {
  height: 30em;
  width: 30em;
  border-radius: 1%;
  float: left;
  position: relative;
  top: 2em;
}

/* Main Form */

#pics {
  width: 90%;
  padding: 3em 3em 0 3em;
}
#nl,
#al {
  width: 20%;
  padding-top: 10em;
  float: right;
  /*margin: 10em 10em 10em 10em;*/
}
.before {
  height: 25em;
  width: 30em;
  padding-top: 7.5em;
  padding-left: 7.5em;
  font-size: 1.25em;
}
.after {
  color: white;
  height: 25em;
  width: 30em;
  padding-top: 3em;
  padding-left: 1em;
}

/* Footer */

footer {
  background-color: white;
  color: #a7a8aa;
  width: 100%;
  padding: .75em 0 1em 0;
  margin-top: 4em;
  font-size: .8em;
}
footer span {
  color: black;
}
footer h4 {
  width: 50%;
  margin-left: 2em;
  clear: both;

}
footer li {
  display: inline;
  list-style: none;
  margin-right: 2em;
  float: right;
  position: relative;
  bottom: 2.5em;
}
footer a {
  text-decoration: none;
  color: #a7a8aa;
}
footer a:hover {
  color: black;
}


